registry=https://registry.npmmirror.com
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips
esbuild_binary_host=https://npmmirror.com/mirrors/esbuild
python_mirror=https://npmmirror.com/mirrors/python
